<!DOCTYPE html>
<html lang="no-NO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="no">
    <title>Bjørn-Tore Mediaa</title>
</head>
<body>
    {{#> components/profile }}{{/components/profile}}
    {{#> components/experience }}{{/components/experience}}
    {{#> components/education }}{{/components/education}}

    <div class="section">
        <div class="title"><h2>Om denne siden</h2></div>
        <div class="content">
            <p>Denne siden har jeg laget med enkel HTML og CSS, altså kun statisk side. Jeg har brukt <a target="_blank" href="https://www.npmjs.com/">npm</a>, <a target="_blank" href="https://webpack.js.org/">webpack</a>,
                <a target="_blank" href="https://handlebarsjs.com/">handlebars</a> og <a target="_blank" href="https://sass-lang.com/">scss</a>. Kildekoden kan du finne <a target="_blank" href="https://github.com/Nozemi/Portfolio-Page">her, på Github</a>.</p>
        </div>
    </div>
</body>
</html>