* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  max-width: 764px;
  width: 100%;
  background: #eeeeee;

  @include media-breakpoint-down(sm) {
    padding: 0 .2rem;
  }
}

p {
  line-height: 1.3rem;
  letter-spacing: -.1px;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

a {

  @include transitions();

  &:link, &:visited {
    color: #2159a3;
  }

  &:hover, &:active {
    text-decoration: none;
    color: #5ba9ee;
  }
}