* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  max-width: 764px;
  width: 100%;
  background: #eeeeee;

  @include media-breakpoint-down(sm) {
    padding: 0 .2rem;
  }
}

p {
  line-height: 1.3rem;
  letter-spacing: -.1px;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.section {
  overflow: hidden;

  & > .content, & > .title {
    padding: .8rem 1rem;
  }

  & > .content {
    padding-top: 0;
  }

  & > .title {
    background: #5ba9ee;
    padding: .5rem .7rem;
    border-radius: .5rem;
    margin: .5rem;
  }

  background: #ffffff;
  margin: 1rem 0;
  border-radius: .5rem;
  @include box-shadow();
}

.profile {

  & > .content {
    display: flex;
    flex-flow: row nowrap;

    @include media-breakpoint-down(sm) {
      flex-flow: column;
      align-items: center;
    }
  }

  .picture {
    height: 200px;
    width: 187px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1rem 1rem 0;

    @include media-breakpoint-down(sm) {
      margin: 0 0 1rem 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .about-me {
    align-self: flex-start;

    @include media-breakpoint-down(sm) {
      margin-top: .8rem;
    }
  }

  .details {

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    .detail {
      display: flex;
      flex-flow: row nowrap;

      & > * {
        padding: .1rem;
      }

      .label {
        font-weight: bold;
      }
    }

    .links {
      border-top: 1px solid #5ba9ee;
      margin-top: .4rem;
      padding-top: .4rem;

      .value {
        display: flex;

        a {
          margin: 0 .2rem;
          color: #5ba9ee;

          svg {
            height: 35px;
            width: auto;
            fill: #2f80ee;
          }
        }
      }
    }
  }
}

.experience {

  .experience-item {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: .5rem 0;

    @include media-breakpoint-down(md) {
      grid-template-columns: 30% 70%;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #5ba9ee;
    }

    .details {
      padding: 0 .5rem 0 0;

      .employer {
        font-weight: bold;
      }

      .duration {
        font-style: italic;
      }
    }
  }
}

.tags {
  margin-top: .5rem;
  display: flex;
  flex-flow: row wrap;

  & > div {
    background: #a5ddee;
    padding: .2rem .5rem;
    margin: .2rem;
    border-radius: .2rem;
    width: auto;
  }
}

a {

  @include transitions();

  &:link, &:visited {
    color: #2159a3;
  }

  &:hover, &:active {
    text-decoration: none;
    color: #5ba9ee;
  }
}