

<div class="section experience">
    <div class="title"><h2>Utdanning</h2></div>
    <div class="content">
        <div class="experience-item">
            <div class="details">
                <div class="employer">Hjalmar VGS</div>
                <div class="duration">2016 - 2017</div>
            </div>
            <div class="info">
                <div class="title"><h3>VG4 - Påbygg til generell studiekompetanse</h3></div>
                <div class="description">
                    <p></p>
                </div>
            </div>
        </div>

        <div class="experience-item">
            <div class="details">
                <div class="employer">Bamble VGS</div>
                <div class="duration">2013 - 2014</div>
            </div>
            <div class="info">
                <div class="title"><h3>VG2 - IKT Servicefag</h3></div>
                <div class="description">
                    <p></p>
                </div>
                <div class="tags">
                    <div>Windows Server</div>
                    <div>Windows</div>
                    <div>Active Directory</div>
                    <div>DHCP</div>
                    <div>DNS</div>
                </div>
            </div>
        </div>

        <div class="experience-item">
            <div class="details">
                <div class="employer">Bø VGS avd. Seljord</div>
                <div class="duration">2011 - 2012</div>
            </div>
            <div class="info">
                <div class="title"><h3>VG1 - Medier og kommunikasjon</h3></div>
                <div class="description">
                    <p></p>
                </div>
                <div class="tags">
                    <div>Photoshop</div>
                    <div>Illustrator</div>
                    <div>Premiere</div>
                    <div>InDesign</div>
                    <div>Foto</div>
                    <div>Video</div>
                    <div>TV</div>
                </div>
            </div>
        </div>
    </div>
</div>