
<div class="section experience">
    <div class="title"><h2>Erfaring</h2></div>
    <div class="content">
        <div class="experience-item">
            <div class="details">
                <div class="employer"><a target="_blank" href="https://multicase.no/">Multicase Norge AS</a></div>
                <div class="duration">2019 - Nåværende</div>
            </div>
            <div class="info">
                <div class="title"><h3>Utvikler</h3></div>
                <div class="description">
                    <p>Her jobber jeg med å utvikle nettbutikkløsningen Multicase, samt implementere og drifte den for kunder.</p>
                </div>
                <div class="tags">
                    <div>C#</div>
                    <div>HTML</div>
                    <div>CSS</div>
                    <div>JavaScript</div>
                    <div>Windows Server</div>
                    <div>Multicase</div>
                    <div>TFS</div>
                </div>
            </div>
        </div>

        <div class="experience-item">
            <div class="details">
                <div class="employer"><a target="_blank" href="https://coretrek.no/">CoreTrek AS</a></div>
                <div class="duration">2017 - 2019</div>
            </div>
            <div class="info">
                <div class="title"><h3>Webutvikler - Fullstack</h3></div>
                <div class="description">
                    <p>Jeg var webutvikler hos CoreTrek, hvor jeg implementerte og driftet CorePublish-løsninger.
                        Her implementerte jeg blant annet CorePublish for <a target="_blank" href="http://skagerakenergi.no/">Skagerak Energi</a>.</p>
                </div>
                <div class="tags">
                    <div>PHP</div>
                    <div>HTML</div>
                    <div>CSS</div>
                    <div>JavaScript</div>
                    <div>Linux Server (Ubuntu)</div>
                    <div>CorePublish</div>
                    <div>Git</div>
                </div>
            </div>
        </div>

        <div class="experience-item">
            <div class="details">
                <div class="employer">Porsgrunn VGS</div>
                <div class="duration">2014 - 2016</div>
            </div>
            <div class="info">
                <div class="title"><h3>IKT Servicefagmedarbeider (Lærling)</h3></div>
                <div class="description">
                    <p>Jeg har vært lærling som IKT Servicefagmedarbeider hos Porsgrunn VGS.
                        Her har jeg jobbet med å drifte kopimaskiner, utstyr i klasserom, elev- og lærermaskiner.</p>

                    <p>Laget også et sakssystem (i PHP) for å holde styr på hvilken PC som tilhørte hvem, og hvorfor den var inne.
                        Dette integrerte jeg med AD.</p>
                </div>
                <div class="tags">
                    <div>Windows Server</div>
                    <div>Windows</div>
                    <div>Office</div>
                    <div>Active Directory</div>
                    <div>Nettverk</div>
                </div>
            </div>
        </div>
    </div>
</div>